---
layout: page
title: About
---

<p>First and foremost, I'm a student at the <a href="https://d.umn.edu/">University of Minnesota Duluth</a>
  studying <a href="https://d.umn.edu/cs/">Computer Science</a> and a little music. I enjoy working with
  computers, especially in relation to Linux (currently running Debian, with a history of Ubuntu and
  occasionally playing with minimalist tiling window managers) administration and web development
  (full-stack).</p>
<p>Regarding music, I am the regular <a href="https://youtu.be/31Ipq5v9T8E?t=3205">organist</a>/<a
    href="https://www.youtube.com/watch?v=xSH4ciadjDs">pianist</a>/<a
    href="https://www.youtube.com/watch?v=byk43j57SeM">accompanist</a> at <a
    href="http://pilgrimduluth.org/">Pilgrim UCC, Duluth, MN</a>, and an accompanist for the <a
    href="https://www.lsyouthchorus.org/">Lake Superior Youth Chorus</a>. I am one of the hosting trio
  for <a href="https://www.facebook.com/JazzatBlush">Jazz at Blush</a> on Monday nights (and if you play
  an instrument, please come join us!). I especially enjoy playing in small ensembles
  <a href="https://www.youtube.com/watch?v=R9MqV2G2XAE">and</a>
  <a href="https://youtu.be/rxqeobkiNgg?t=482">with</a>
  <a href="https://www.youtube.com/watch?v=cgygq_R-RhY">other</a>
  <a href="https://www.youtube.com/watch?v=Gs4GqA0v690">people</a>
  as much as I can.</p>
<p>Outside of school, I like to remain active with <a href="http://troop352.us/">my Boy Scout troop</a> (of
  which I am an Eagle Scout), especially on outdoor activities. I enjoy reading science fiction, though I
  don't have as much time for it as I might like. I appreciate <a href="https://xkcd.com/">XKCD
  comics</a>, especially those about <a href="https://xkcd.com/722/">technology</a>.</p>

{% comment %}
<!-- When blog posts get imported, move the above to a bio page, and re-introduce the below. -->
<div class="media">
{% for post in site.posts limit:10 %}
{% include post-stub.html post=post %}
{% endfor %}
</div>

{% if site.posts.size > 10 %}
<div class="pull-right">
    <a href="/archive/page2/" class="btn btn-primary">
        Page 2
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"/></svg>
        </span>
    </a>
</div>
<div class="clearfix"></div>
{% endif %}
{% endcomment %}
